.about {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }

  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--nav-txt-cl);
    text-align: center;
    margin-bottom: 10px;
  }
  &__txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--often-color);
    margin-bottom: 10px;
  }
  &__list {
    align-items: center;

  @media screen and (min-width: 480px) {
    display: block;
}

  }
  &__container-list {
    margin: -15px;
    
  }
  &__items {
    // width: calc(100% / 4 - 30px);
    margin: 15px;
    justify-content: center;
    width: 270;
  }
  &__svg {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: var(--icon-bgc);
    margin-bottom: 30px;
    border-radius: 4px;
  }
}

.about__container-list {
@media screen and(min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
}

}