.command {
  padding: 94px 0px;
  background-color: #f5f4fa;
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--nav-txt-cl);
    align-items: center;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
  }

  &__item {
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--nav-txt-cl);
      margin-bottom: 10px;
  }
&__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--nav-txt-cl);
      margin-bottom: 10px;
  }
&__job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--often-color);
    margin-bottom: 16px;
}
&__position {
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 30px 0px;
}
&__icon-list {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    margin: 0;
}
&__link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    fill: #afb1b8;

    &__link:hover {
        align-items: center;
        box-sizing: border-box;
        border-radius: 50%;
        fill: var(--white-color);
        background-color: var(--btn-hover);
        transition: var(--anim);
    }
}
}
.icon-cnt {
  margin-right: 10px;
  fill: #757575;
}