.contacts {
    margin-left: auto;
    margin-left: 84px;

    @media screen and (max-width: 767px) {
        display: none;
    }

}

.link-cnt {
    color: var(--often-color);
    display: flex;
    width: 100%;
    align-items: center;

    &:hover,
    &:focus {
        color: var(--accent-color);
        transition: var(--anim);
    }
}

.link-f {
    color: var(--often-color);
}

.link-cnt:hover svg {
    fill: var(--accent-color);
    transition: var(--anim);
}
// .contacts-footer {
//     margin-top: 24px;
    
// }

.contacts-footer-item {
    color: var(--white-color);
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        text-align: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}

.contacts-footer-item:not(last-child) {
    margin-bottom: 9px;
    
}

.header-contact-item:hover,
.header-contact-item:focus,
.contacts-footer-item:hover,
.contacts-footer-item:focus {
    color: var(--accent-color);
    transition: var(--anim);
}

.contacts-footer {
   margin-left: auto;
   margin-right: auto;
}





