.follow {
    // display: flex;
    // flex-direction: column;
    // margin-left: 70px;
margin-bottom: 60px;
@media screen and (min-width: 768px) {
    margin-bottom: 102px;
    margin-left: 165px;
    @media screen and (min-width: 1200px) {
    margin-left: 301px;
    margin-bottom: 0;
    }
}

&-footer-list {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 206px;
        margin-top: 20px;
    }

&-footer-item:not(:last-child) {
 margin-right: 10px;
}

&-name {
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    @media screen and(min-width: 1200px) {
        text-align: start;
    }

}
&-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #44454e;
    fill: var(--white-color);
    filter: drop-shadow(opx 4px 4px rgba(0, 0, 0, 0.25));
}
&-link:hover {
    background-color: var(--accent-color);
    transition: var(--anim);
}
}