.subscribe {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    margin-left: 29px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub-in-btn {
    display: flex;
}
.subs {
    margin-left: 93px;
    display: flex;
    flex-direction: column;
}

.sub-name {
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.sub-input {
    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--hero-color);

    padding-left: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.sub-list {
    display: flex;
}