.footer {
  // display: flex;
  // flex-direction: column;
  background-color: var(--hero-color);
  padding: 60px 0px;
  margin: auto;
  &-left {
    // display: flex;
    display: block;
    justify-content: center;
  }

  &-right-side {
    margin-top: 60px;
  }

  // &-main-list {
  //   display: flex;
  // }

  &-container {
    display: block;
    text-align: center;
  }
}
